@charset "UTF-8";

/* 回答はここに書いてね */

.q6--horizontal .q6__box__text.font {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
}

.q6__box.is-textalign.textblock .q6__box__inner.gray {
  text-align: center;
}

.q6__box.is-textalign.textblock .q6__box__text.font {
  display: inline-block;
}

.q6__box.is-margin.marginblock .q6__box__text.font {
  margin: 0 auto;
  text-align: center;
}

.q6--around.is-table.tableblock {
  display: table;
}

.q6--around.is-table.tableblock .q6__box.tablegray {
  display: table-cell;
  text-align: center;
  background-color: #ecf1f2;
  vertical-align: middle;
}

.q6--around.is-table.tableblock .q6__box__text.font {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6--around.is-flex.flexblock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.q6--around.is-flex.flexblock .q6__box__text.font {
  padding: 10px;
  background-color: #fff;
}

.q6--position .q6__box {
  position: relative;
}

.q6__box.is-stable.stableblock .q6__box__inner.stablefont {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.q6__box.is-flexible.flexblock .q6__box__inner.flexfont {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%;
}



/* 回答はここに書いてね */
