@charset "UTF-8";

/* 回答はここに書いてね */

.q6--horizontal .textfont {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
}

.textblock .grayinner {
  text-align: center;
}

.textblock .textfont {
  display: inline-block;
}

.marginblock .textfont {
  margin: 0 auto;
  text-align: center;
}

.tableblock {
  display: table;
}

.tableblock .grayblock {
  display: table-cell;
  text-align: center;
  background-color: #ecf1f2;
  vertical-align: middle;
}

.tableblock .textfont {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.flexblock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexblock .textfont {
  padding: 10px;
  background-color: #fff;
}

.q6--position .q6__box {
  position: relative;
}

.stableblock .stablefont {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.flex-block .flexfont {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%;
}



/* 回答はここに書いてね */
